body {
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

button {
  border: 0;
  background: rgba(150, 150, 150, 0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.mobject-div {
    display: block;
    position: absolute;
    overflow: visible;
    border: 1px green;
    border-top-style: solid;
    border-left-style: dotted;
    border-bottom-style: dashed;
    border-right-style: dashed;
}

.mobject-svg {
    position: absolute;
    display: block;
    width: inherit;
    height: inherit;
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}


