body {
  width: 100%;
  margin: 0 auto;
}

button {
  border: 0;
  background: rgba(150, 150, 150, 0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.mobject-div {
    position: absolute;
    vertical-align: top;
    overflow: visible;
    display: inline;
}

.mobject-svg {
    position: absolute;
    top: 0;
    left: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}


